<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        #main-container h2 {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
        #main-container {
            height: 300px;
            width: 550px;
            border: 4px solid black;
            margin-left: 450px;
            text-align: center;
        }

        #result {
            border: 2px solid black;
            height: 100px;
            width: 550px;
            margin-left: 450px;
            text-align: center;
            background-color: green;
            color:white;
            padding-top: 40px;
        }

        form {
            text-align: center;
            margin-top: 50px;

        }

        input {
            border: 1px solid black;
        }

        label {
            margin-bottom: 20px;
        }

        label {
            display: block;
        }

        .btn {
            margin-left: 240px;
            background-color: blue;
            color: white;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>

<div id="main-container">
    <h1>Mongoose Info: </h1>
    <p><%= data.name %></p>
    <p><%= data.age %></p>
    <p><%= data.description %></p>
    <p><%= data.hobbies %></p>
</div>


<a href ="/mongoose/edit/<%= data.id%>">Edit</a>
<a href ="/mongoose/delete/<%= data.id%>">Delete</a>
<a href ="/">Go to Mongooses</a>


</body>
</html>
